extends ./layout.jade

block title
  |pyscraper - Home

block content
  .row
    .col-sm-5.col-sm-offset-1
      h1 pyscrape - A tags
      form(role='form', method='POST', action='/')
        .form-group
          input#url-box.form-control(type='text', name='url', placeholder='Enter URL...', style='max-width: 300px;')
        button.btn.btn-default(type='submit') Submit

    .col-sm-5.col-sm-offset-1
      if job_id
        h2 Job
        #results
          a(href="results/#{job_id}", target='_blank')= job_id
